html,body{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: white;

}
body {
    box-sizing: border-box;
    display: flex;
}

.login_box{

    width: 40%;
    background-color:white;
    margin:auto;
    background-color: cyan;
    text-align: center;
    padding: 2%;
    font-family: fantasy;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 3px 30px 0px grey;
}

.login-text{
    line-height: 3;
    }

input{
    font-family: fantasy;
    font-size: 100%;
    border: 3px solid white;
    background-color: white;
    
}

.btn{
    
    width: 5%;
    border-radius: 5%;
    
    margin: auto;
    border: 2px solid white;
    }

.btn:hover{
    cursor: pointer;
    color: cyan;
    background-color: white;
    
}

#login{
    font-size: 2.5vw;
    
}
